@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  overscroll-behavior-y: none;
  background-color: #000;
  user-select: none;
}

input, textarea {
  user-select: text;
}

/* 隐藏滚动条（内容区） */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 适配 iOS SafeArea 的共通辅助类 */
.pb-safe {
  padding-bottom: var(--safe-area-inset-bottom);
}
.pt-safe {
  padding-top: var(--safe-area-inset-top);
}

